@page
@model OnlineLearningPlatform.Areas.Admin.Pages.Levels.CreateModel
@{
    ViewData["Title"] = "Add New Level";
    Layout = "~/Areas/Admin/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mt-4">
    <div class="card">
        <div class="card-header bg-light text-primary">
            <h5>Add New Level</h5>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Level.LevelName" class="form-label">Level Name</label>
                    <input asp-for="Level.LevelName" class="form-control" />
                    <span asp-validation-for="Level.LevelName" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-sm btn-success">Save</button>
                    <a asp-page="./Index" class="btn btn-sm btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}