@using Microsoft.AspNetCore.Identity
@using OnlineLearningPlatform.Models.Entities.UserPart
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var avatarUrl = user?.AvatarUrl ?? "~/img/person/person-f-1.webp"; 

    <div class="dropdown ms-3">
        <a class="dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="@avatarUrl" alt="Avatar" class="rounded-circle" width="40" height="40">
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Account</a></li>
            <li><a class="dropdown-item" asp-controller="Messages" asp-action="Index">Message</a></li>
            <li><a class="dropdown-item" asp-controller="MyCourses" asp-action="Index">My Course</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <a class="btn-getstarted ms-3" asp-area="Identity" asp-page="/Account/Login">Enroll Now</a>
}